@font-face {
  font-family: 'Neunhaas';
  src: local('parafinatrialblackl'), url('./assets/fonts/NeueHaasGrotesk/NHaasGroteskDSPro-15UltTh.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Neunhaas_b';
  src: local('neunhaas_b'), url('./assets/fonts/NeueHaasGrotesk/NHaasGroteskDSPro-25Th.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'Neunhaas_c';
  src: local('neunhaas_c'), url('./assets/fonts/NeueHaasGrotesk/NHaasGroteskDSPro-55Rg.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'Neunhaas_d';
  src: local('neunhaas_d'), url('./assets/fonts/NeueHaasGrotesk/NHaasGroteskTXPro-65Md.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}@font-face {
  font-family: 'Neunhaas_e';
  src: local('neunhaas_e'), url('./assets/fonts/NeueHaasGrotesk/NHaasGroteskTXPro-75Bd.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}